<div class="container ">
  <div class="row ">
    <div class="col">
      <div id="carouselControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/images/team.jpg" alt="" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="assets/images/contribution.jpg" alt="" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="assets/images/teamWrk.jpg" alt="" class="d-block w-100">
          </div>
        </div>
        <a href="#carouselControls" class="carousel-control-prev" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Précédent</span>
        </a>
        <a href="#carouselControls" class="carousel-control-next" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Suivant</span>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <a routerLink="/theMembers">
        <img class="card-img" src="assets/images/membres.jpg" alt="">
        <div class="card-body">
          <h5 class="modal-title">GESTION DES MEMBRES</h5>
          <p class="card-text"><A>Accès à la gestion des membres de MDLA</A></p>
        </div>
        </a>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <a routerLink="/actu">
        <img class="card-img" src="assets/images/actu.jpg" alt="">
        <div class="card-body">
          <h5 class="modal-title">EVENEMENTS ET ACTUALITES</h5>
          <p class="card-text">se renseigner</p>
        </div>
        </a>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <a routerLink="/aboutUs">
        <img class="card-img" src="assets/images/aboutUs.jpg" alt="">
        <div class="card-body">
          <h5 class="modal-title">A PROPOS DE L'ASBL</h5>
          <p class="card-text">Qui sommes nous? et quoi faisons nous ?</p>
        </div>
        </a>
      </div>
    </div>
  </div>

</div>

