<div class="container">
  <div class="bg-light p-4">

    <h1 class="bg-info text-center">A propos de nous</h1>
    <br>

    <p>Chères Visiteuses, Chers Visiteurs,</p>

    <p>C’est avec joie que nous vous accueillons sur le site internet de l’asbl MDLA  ; site que nous avons souhaité clair,
      ergonomique et fonctionnel pour un usage des plus aisés.
    </p>

     <p>L’asbl Mdla est une association  qui a été fondée il y a plus de 10 ans et qui a pour vocation d’organiser,
       en collaboration avec tous les membre mais aussi des événements sportifs, culturels, festifs ou encore ludiques.
     </p>

    <p>Aujourd’hui, l’asbl  Mdla remplissant plusieurs autres missions telles que l'assistance decès pour ses membres et
      d'autres aides .</p>

    <p>En un clic comme en cent, vous trouverez tout ce que vous chercherez à propos de notre association !</p>

    <p>Bonne navigation.</p>
    <br/>

  </div>

</div>
